@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-black-1F: #1F2937;
  --color-green-24: #244D3F;
  --color-gray-64: #64748B;
}